@model ShopeeViewModel

@{
    ViewData["Title"] = "Thanh toán";
}

<link rel="stylesheet" href="~/css/checkout.css">
<div class="app__container">
    <div class="grid wide">
        <div class="checkout">
            <div class="checkout__label">
                <div class="checkout__label-box"></div>
            </div>
            <div class="checkout__address">
                <div class="checkout__address-title">
                    <i class="uil uil-map-marker checkout__address-title-icon"></i>
                    <span>Địa chỉ nhận hàng</span>
                </div>
                <div class="checkout__address-desc">
                    <div class="checkout__address-desc-name">Đặng Văn Công</div>
                    <div class="checkout__address-desc-phone">(+84) 347797502</div>
                    <div class="checkout__address-desc-direction">Số 20, Ngõ 259 Định Công, Phường Định Công, Quận Hoàng
                        Mai, Hà Nội</div>
                    <div class="checkout__address-desc-sub">Mặc định</div>
                    <a href="javascript:openAddressModal()" class="checkout__address-desc-change">Thay đổi</a>
                </div>
            </div>
            <div class="checkout__list">
                @foreach (var checkout in Model.Checkouts) {

                    <div class="checkout__product">
                        <div class="checkout__product-header">
                            <div class="checkout__product-header-name">Sản phẩm</div>
                            <div class="checkout__product-header-type"></div>
                            <div class="checkout__product-header-cost">Đơn giá</div>
                            <div class="checkout__product-header-quantity">Số lượng</div>
                            <div class="checkout__product-header-money">Thành tiền</div>
                        </div>
                        <div class="checkout__product-body">
                            <div class="checkout__product-body-felling">
                                <button type="button" class="checkout__product-body-felling-btn">Yêu thích</button>
                                <a href="#" class="checkout__product-body-felling-chat">
                                    <i class="uil uil-chat checkout__product-body-felling-chat-icon"></i>
                                    <span>Chat ngay</span>
                                </a>
                            </div>
                            <div class="checkout__product-body-item">
                                <div class="checkout__product-body-item-name">
                                    <div class="checkout__product-body-item-img"
                                        style="background-image: url(/img/@checkout.sImageUrl);"></div>
                                    <div class="checkout__product-body-item-desc">
                                        <div class="checkout__product-body-item-text">
                                            @checkout.sProductName
                                        </div>
                                        <span>Đổi ý miễn phí 15 ngày</span>
                                    </div>
                                </div>
                                <div class="checkout__product-body-item-type">Loại: Bạc</div>
                                <div class="checkout__product-body-item-cost">@checkout.dUnitPrice.ToString("#,##0.00") đ</div>
                                <div class="checkout__product-body-item-quantity">@checkout.iQuantity</div>
                                <div class="checkout__product-body-item-money">@checkout.dMoney.ToString("#,##0.00") đ</div>
                            </div>
                            <div class="checkout__product-body-promotion">
                                <div class="checkout__product-body-electronic-invoice">
                                    <div class="checkout__product-body-invoice-sub">
                                        <span>Hoá đơn điện tử</span>
                                        <i class="uil uil-question-circle checkout__product-body-invoice-icon"></i>
                                    </div>
                                    <a href="" class="checkout__product-body-invoice-request">Yêu cầu ngay</a>
                                </div>
                                <div class="checkout__product-body-voucher">
                                    <div class="checkout__product-body-voucher-shop">
                                        <i class="uis uis-check-circle checkout__product-body-voucher-shop-icon"></i>
                                        Voucher của shop
                                    </div>
                                    <div class="checkout__product-body-voucher-other">
                                        <span>-18k</span>
                                        <a href="#" class="checkout__product-body-voucher-other-link">Chọn Voucher khác</a>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__product-body-contact">
                                <div class="checkout__product-body-message">
                                    <div class="checkout__product-body-message-content">
                                        <label for="" class="checkout__product-body-message-label">Lời nhắn</label>
                                        <input type="text" class="checkout__product-body-message-input"
                                            placeholder="Lưu ý cho người bán...">
                                    </div>
                                </div>
                                <div class="checkout__product-body-transport">
                                    <div class="checkout__product-body-transport-top">
                                        <div class="checkout__product-body-transport-sub">Đơn vị vận chuyển: </div>
                                        <div class="checkout__product-body-transport-type">
                                            <div class="checkout__product-body-transport-type-top">
                                                <span>Nhanh</span>
                                                <a href="#" class="checkout__product-body-transport-change">Thay đổi</a>
                                                <div class="checkout__product-body-transport-cost">16.500 đ</div>
                                            </div>
                                            <div class="checkout__product-body-transport-type-bottom">
                                                <div class="checkout__product-body-transport-type-bottom-sub">Đảm bảo nhận
                                                    hàng từ 16 Tháng 5 - 17 Tháng 5</div>
                                                <div class="checkout__product-body-transport-type-bottom-sub">Nhận Voucher
                                                    trị giá 10.000đ nếu đơn hàng được giao đến bạn sau ngày 17 Tháng 5 năm
                                                    2024. <i
                                                        class="uil uil-question-circle checkout__product-body-transport-type-bottom-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__product-body-transport-between">
                                        <div class="checkout__product-body-transport-between-sub">Hoặc chọn phương thức Hoả
                                            Tốc để </div>
                                        <a href="#" class="checkout__product-body-transport-between-link">
                                            <i
                                                class="uil uil-truck checkout__product-body-transport-between-link-icon-truck"></i>
                                            <span>Đảm bảo nhận hàng vào hôm nay</span>
                                            <i
                                                class="uil uil-angle-right-b checkout__product-body-transport-between-link-row"></i>
                                        </a>
                                    </div>
                                    <div class="checkout__product-body-transport-bottom">
                                        <div class="checkout__product-body-transport-bottom-sub">
                                            <span>Được đồng kiểm</span>
                                            <i
                                                class="uil uil-question-circle checkout__product-body-transport-bottom-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__product-bottom">
                            <div class="checkout__product-bottom-sub">Tổng số tiền (@checkout.iQuantity sản phẩm): </div>
                            <span>@checkout.dMoney.ToString("#,##0.00") đ</span>
                        </div>
                    </div>
                }
            </div>
            <div class="checkout__voucher">
                <div class="checkout__voucher-sub">
                    <i class="uil uil-store checkout__voucher-sub-icon"></i>
                    <span>F4 Shop Voucher</span>
                </div>
                <a href="#" class="checkout__voucher-choice">
                    Chọn Voucher
                </a>
            </div>
            <div class="checkout__payment">
                <div class="checkout__payment-header">
                    <div class="checkout__payment-header-sub">Phương thức thanh toán</div>
                    <div class="checkout__payment-header-btns">
                        <div class="checkout__payment-header-vnpay-btn">
                            <span>VN</span><span>PAY</span>
                        </div>
                        <div class="checkout__payment-header-paypal-btn">
                            <span>Pay</span> <span>Pal</span>
                        </div>
                        <div class="checkout__payment-header-momo-btn">
                            MOMO
                        </div>
                        <div class="checkout__payment-header-cod-btn">
                            Thanh toán khi nhận hàng
                        </div>
                    </div>
                    <div class="checkout__payment-header-name">Thanh toán khi nhận hàng</div>
                    <a href="#" class="checkout__payment-header-change">Thay đổi</a>
                </div>
                <div class="checkout__payment-sub">
                    <div class="checkout__payment-sub-logo">
                        <div class="checkout__payment-sub-img" style="background-image: url(/img/vnpay.png);">
                        </div>
                    </div>
                    <div class="checkout__payment-sub-money">
                        <input type="radio" class="checkout__payment-sub-money-input">
                        <div class="checkout__payment-sub-money-currenry">
                            <span>đ</span>
                        </div>
                        <div class="checkout__payment-sub-money-desc">
                            <div class="checkout__payment-sub-money-desc-sub">Ví VNPay Số dư</div>
                            <div class="checkout__payment-sub-money-desc-value">0đ</div>
                        </div>
                    </div>
                </div>
                <div class="checkout__payment-money">
                    <div class="checkout__payment-money-row">
                        <div class="checkout__payment-money-row-left"> <span>Tổng tiền hàng</span></div>
                        <div class="checkout__payment-money-row-right">121.000 đ</div>
                    </div>
                    <div class="checkout__payment-money-row">
                        <div class="checkout__payment-money-row-left"> <span>Phí vận chuyển</span></div>
                        <div class="checkout__payment-money-row-right">15.000 đ</div>
                    </div>
                    <div class="checkout__payment-money-row">
                        <div class="checkout__payment-money-row-left"><span>Giảm giá phí vận chuyển</span> <i
                                class="uil uil-exclamation-octagon checkout__payment-money-row-left-icon"></i></div>
                        <div class="checkout__payment-money-row-right">-15.000 đ</div>
                    </div>
                    <div class="checkout__payment-money-row-bottom">
                        <div class="checkout__payment-money-row-bottom-left"><span>Thành tiền</span></div>
                        <div class="checkout__payment-money-row-bottom-right">121.000 đ</div>
                    </div>
                </div>
                <div class="checkout__payment-order">
                    <div class="checkout__payment-order-sub">Nhấn "đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo <a
                            href="#" class="checkout__payment-order-sub-link">Điều khoản F4 Shop</a></div>
                    <div class="checkout__payment-order-btn">
                        <button type="button" class="btn btn--primary">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <div class="modal__overlay">

    </div>
    <div class="modal__body">
        
    </div>
</div>
<script src="~/js/validate_address.js"></script>
<script src="~/js/checkout.js"></script>